---
layout: splash
permalink: /
hidden: true
header:
  image: "/assets/images/chicago02.jpg"
  overlay_color: "#5e616c"
  overlay_image: /assets/images/chicago02.jpg
  actions: 

excerpt: >
  Using intrinsic human parameters to blend low-level robot control and robotic rehabilitation. <br />
  <!-- <small><a href="https://github.com/mmistakes/minimal-mistakes/releases/tag/4.20.2">Latest release v4.20.2</a></small> -->
feature_row:
  - image_path: /assets/images/2022_Humanoids/LIPM_stepping_MJ3.PNG
    alt: "2D Approximation of the step-to-step map"
    title: "2D Approximation of the step-to-step map"
    excerpt: "A data-driven model-based approach to walking control of Digit in 2D"
    url: "/2022-02-05-post-Digit-3D-LIPM/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
    - image_path: /assets/images/digit_LIPM/Digit_3D_LIPM_MATLAB_02.JPG
    alt: "LIPM applied to Digit walking control"
    title: "Linear inverted pendulum modeling applied to Digit walking control"
    excerpt: "A walking controller using the concepts of orbital mechanics and the inverted pendulum dynamics."
    url: "/2022-02-05-post-Digit-3D-LIPM/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/Swinging_Exo/Exo_01.JPG
    alt: "Passive Swinging-Arms Exo"
    title: "Passive Swinging-Arms Exoskeleton for Angular Momentum Reduction"
    excerpt: "A device that couples leg swing to artificial-arm swinging to reduce vertical angular momentum."
    url: "/2022-02-06-post-Arms-Exo/"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
  - image_path: /assets/images/digit_2d/digit_2dmujoco.JPG
    alt: "Digit Cyclic Stability Mujoco Sim"
    title: "Digit Cyclic Stability in Mujoco Simulation"
    excerpt: "Cyclic gait achieved using control partitioning in Mujoco" 
    url: "/2021-08-18-post-Digit-2D-mujoco/"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
  - image_path: /assets/images/AHA_LOGO.jpg
    alt: "American Heart Association"
    title: " In the news: American Heart Association Predoctoral Fellowship"
    excerpt: "A two year fellowship to support my research in human-inspired control for rehabilitation and robotics"
    url: "https://mie.uic.edu/news-stories/three-students-three-awards-three-visions-for-their-future/"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
  - image_path: /assets/images/digit_2d/digit_walking_photo2.JPG
    alt: "Digit 2D Model"
    title: "2D Walking Model and Control of Digit"
    excerpt: "A 2D model of the humanoid Digit was developed and controls were tested using MATLAB"
    url: "/2021-05-26-post-Digit-2D/"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
  - image_path: /assets/images/IDETC_2021/humanoid_2D.JPG
    alt: "Optimal Control"
    title: "Control of a 5-Link Biped Using Quadratic Polynomial"
    excerpt: "To walk over constrained environments, bipedal robots must meet concise control objectives of speed and foot placement."
    url: "/2021-06-08-post-IDETC-project/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/icorps.jpg
    alt: "NSF iCORPS"
    title: " In the news: NSF Innovation CORPS"
    excerpt: "Recognized as the Entrepreneurial Lead of the iCORPS program at the Innovation Awards"
    url: "https://www.utsa.edu/today/2018/12/story/InnovationAwards2018.html"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
  - image_path: /assets/images/VSS_Image01.JPG
    alt: "Variable Stiffness Treadmill"
    title: "Variable Stiffness Treadmill"
    excerpt: "Design and experimental setup of a treadmill capable of changing the ground stiffness in an online manner"
    url: "/2020-09-20-post-project2/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/Senior_design_image01.JPG
    alt: "Myoelectric Prosthetic Hand"
    title: "Low Cost Myoelectric Prosthetic Hand"
    excerpt: "Design and development of a low-cost 3D printed prosthetic hand for wrist disarticulation with up to 10 programable gestures."
    url: "/2020-09-20-post-project1/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/EMG_pattern_recognition/Results.JPG
    alt: "EMG Pattern Recognition"
    title: "Hierarchical Clustering and KNN in EMG Pattern Recognition"
    excerpt: "Machine learning techniquies used to predict user gesture intent using the Myo Armband"
    url: "/2020-09-20-post-project3/"
    btn_class: "btn--primary"
    btn_label: "Learn more"   
feature_row2:
  - image_path: /assets/images/VSS_Image01.JPG
    alt: "Variable Stiffness Treadmill"
    title: "Variable Stiffness Treadmill"
    excerpt: "Design and experimental setup of a treadmill capable of changing the ground stiffness in an online manner"
    url: "/2020-09-20-post-project2/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/Senior_design_image01.JPG
    alt: "Myoelectric Prosthetic Hand"
    title: "Low Cost Myoelectric Prosthetic Hand"
    excerpt: "Design and development of a low-cost 3D printed prosthetic hand for wrist disarticulation with up to 10 programable gestures."
    url: "/2020-09-20-post-project1/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/EMG_pattern_recognition/Results.JPG
    alt: "EMG Pattern Recognition"
    title: "Hierarchical Clustering and KNN in EMG Pattern Recognition"
    excerpt: "Machine learning techniquies used to predict user gesture intent using the Myo Armband"
    url: "/2020-09-20-post-project3/"
    btn_class: "btn--primary"
    btn_label: "Learn more"    
---

{% include feature_row type="left"%}
<!-- {% include feature_row id="feature_row2" %} -->